<link rel="stylesheet" href="assets/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="assets/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <link rel="stylesheet" href="assets/master-slider/quick-start/masterslider/style/masterslider.css">
    <link rel='stylesheet' href="assets/master-slider/quick-start/masterslider/skins/default/style.css">
<!--=== Shop Product ===-->
    <div class="shop-product">
        <!-- Breadcrumbs v5 -->
        <div class="container">
            <ul class="breadcrumb-v5">
                <li><a href="index.html"><i class="fa fa-home"></i></a></li>
                <li><a href="#">Products</a></li>
                <li class="active">New</li>
            </ul> 
        </div>
        <!-- End Breadcrumbs v5 -->

        <div class="container">
            <div class="row">
                <div class="col-md-6 md-margin-bottom-50">
                    <div class="ms-showcase2-template">
                        <!-- Master Slider -->
                        <div class="master-slider ms-skin-default" id="masterslider">
                            <div class="ms-slide">
                                <img class="ms-brd" style="width:550px;height:560px" src="assets/blank.gif" data-src=<%= @product_photos[0].photo_file_name %> alt="lorem ipsum dolor sit">
                                <img class="ms-thumb" style="width:180px;height:170px" src=<%= @product_photos[0].photo_file_name %> alt="thumb">
                            </div>
                            <div class="ms-slide">
                                <img style="width:550px;height:560px" src="assets/blank.gif" data-src=<%= @product_photos[1].photo_file_name %> alt="lorem ipsum dolor sit">
                                <img class="ms-thumb" style="width:180px;height:170px" src=<%= @product_photos[1].photo_file_name %> alt="thumb">
                            </div>
                            <div class="ms-slide">
                                <img style="width:550px;height:560px" src="assets/blank.gif" data-src=<%= @product_photos[2].photo_file_name %> alt="lorem ipsum dolor sit">
                                <img class="ms-thumb" style="width:180px;height:170px" src=<%= @product_photos[2].photo_file_name %> alt="thumb">
                            </div>
                        </div>
                        <!-- End Master Slider -->
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="shop-product-heading">
                        <h2><%= @product.name.capitalize %></h2>
                    </div><!--/end shop product social-->

                    <!-- <ul class="list-inline product-ratings margin-bottom-30">
                        <li><i class="rating-selected fa fa-star"></i></li>
                        <li><i class="rating-selected fa fa-star"></i></li>
                        <li><i class="rating-selected fa fa-star"></i></li>
                        <li><i class="rating fa fa-star"></i></li>
                        <li><i class="rating fa fa-star"></i></li>
                        <li class="product-review-list">
                            <span>(1) <a href="#">Review</a> | <a href="#"> Add Review</a></span>
                        </li>
                    </ul> --><!--/end shop product ratings-->

                    <p>Integer <strong>dapibus ut elit</strong> non volutpat. Integer auctor purus a lectus suscipit fermentum. Vivamus lobortis nec erat consectetur elementum.</p><br>

                    <ul class="list-inline shop-product-prices margin-bottom-30">
                        <li class="shop-red">$<%= @product.price %>.00</li>
                        <li class="line-through">$<%= @product.price+15 %>.00</li>
                        <li><small class="shop-bg-red time-day-left">4 days left</small></li>
                    </ul><!--/end shop product prices-->

                    <h3 class="shop-product-title">Quantity</h3>
                    <div class="margin-bottom-40">
                        <form name="f1" class="product-quantity sm-margin-bottom-20">
                            <button type='button' class="quantity-button" name='subtract' onclick='javascript: subtractQty();' value='-'>-</button>
                            <input type='text' class="quantity-field" name='qty' value="1" id='qty'/>
                            <button type='button' class="quantity-button" name='add' onclick='javascript: document.getElementById("qty").value++;' value='+'>+</button>
                        </form>
                        <button type="button" class="btn-u btn-u-sea-shop btn-u-lg" onclick="addToCart(this)" data=<%= @product.id %> >Add to Cart</button>
                    </div><!--/end product quantity-->    

                    <p class="wishlist-category"><strong>Category:</strong> <a href="/store?type=<%= @product.sub_category %>"><%= @product.sub_category %></a></p>
                </div>
            </div><!--/end row-->
        </div>    
    </div>
    <!--=== End Shop Product ===-->

    <!--=== Content Medium ===-->
    <div class="content-md container">
        <!--=== Product Service ===-->
        <div class="row margin-bottom-60">
            <div class="col-md-4 product-service md-margin-bottom-30">
                <div class="product-service-heading">
                    <i class="fa fa-truck"></i>
                </div>
                <div class="product-service-in">
                    <h3>Free Delivery</h3>
                    <p>Integer mattis lacinia felis vel molestie. Ut eu euismod erat, tincidunt pulvinar semper veliUt porta, leo</p>
                    <!-- <a href="#">+Read More</a> -->
                </div>
            </div>
            <div class="col-md-4 product-service md-margin-bottom-30">
                <div class="product-service-heading">
                    <i class="icon-earphones-alt"></i>
                </div>
                <div class="product-service-in">
                    <h3>Customer Service</h3>
                    <p>Integer mattis lacinia felis vel molestie. Ut eu euismod erat, tincidunt pulvinar semper veliUt porta, leo</p>
                    <!-- <a href="#">+Read More</a> -->
                </div>
            </div>
            <div class="col-md-4 product-service">
                <div class="product-service-heading">
                    <i class="icon-refresh"></i>
                </div>
                <div class="product-service-in">
                    <h3>Free Returns</h3>
                    <p>Integer mattis lacinia felis vel molestie. Ut eu euismod erat, tincidunt pulvinar semper veliUt porta, leo</p>
                    <!-- <a href="#">+Read More</a> -->
                </div>
            </div>
        </div><!--/end row-->
        <!--=== End Product Service ===-->

        <div class="tab-v5">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#description" role="tab" data-toggle="tab">Description</a></li>
                <li>
                  <a href="#reviews" role="tab" data-toggle="tab">Reviews
                    <%unless Review.where(:product_id => @product.id).nil?%>
                      <label id="review_count"><%=Review.where(:product_id =>@product.id).count%></label>
                    <%end%>
                  </a>
                </li>
            </ul>

            <div class="tab-content">
                <!-- Description -->
                <div class="tab-pane fade in active" id="description">
                    <div class="row">
                        <div class="col-md-7">
                            <p>Morbi non semper est, eget tincidunt turpis. Vivamus sollicitudin sodales nisi, et venenatis turpis Vivamus sollicitudin ultricies eget. Fusce vitae neque blandit lectus faucibus aliquet nec vel ipsum. Integer mattis lacinia felis vel sollicitudin molestie.</p><br>

                            <h3 class="heading-md margin-bottom-20">Specifies</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled specifies-list">
                                        <li><i class="fa fa-caret-right"></i>Brand Name: <span>Lacoste</span></li>
                                        <li><i class="fa fa-caret-right"></i>Technics: <span>Computer</span> Knitted</li>
                                        <li><i class="fa fa-caret-right"></i>Sleeve Length: <span>Full</span></li>
                                        <li><i class="fa fa-caret-right"></i>Sleeve Style: <span>Regular</span></li>
                                        <li><i class="fa fa-caret-right"></i>Pattern Type: <span>PAID</span></li>
                                        <li><i class="fa fa-caret-right"></i>Style: <span>Casual</span></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled specifies-list">
                                        <li><i class="fa fa-caret-right"></i>Material: <span>Cotton,Nylon</span></li>
                                        <li><i class="fa fa-caret-right"></i>Item Type: <span>Pullovers</span></li>
                                        <li><i class="fa fa-caret-right"></i>Thickness: <span>Thin</span></li>
                                        <li><i class="fa fa-caret-right"></i>Model Number: <span>TM-11013 </span></li>
                                        <li><i class="fa fa-caret-right"></i>Gender: <span>Men</span></li>
                                        <li><i class="fa fa-caret-right"></i>MATERIAL: <span>80%COTTON+10%NYLON</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="responsive-video">
                                <iframe src="https://www.youtube.com/embed/xQQyr_bHrGE" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Description -->

                <!-- Reviews -->                
                <div class="tab-pane fade" id="reviews">
                  <%= render 'review'%>
                </div>
                <!-- End Reviews -->                
            </div>
        </div>
    </div><!--/end container-->    
    <!--=== End Content Medium ===-->

    <!--=== Shop Suvbscribe ===-->
    <div class="shop-subscribe">
        <div class="container">
            <div class="row">
                <div class="col-md-8 md-margin-bottom-20">
                    <h2>subscribe to our weekly <strong>newsletter</strong></h2>
                </div>  
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Email your email...">
                        <span class="input-group-btn">
                            <button class="btn" type="button"><i class="fa fa-envelope-o"></i></button>
                        </span>
                    </div>    
                </div>
            </div>
        </div><!--/end container-->
    </div>
    <!--=== End Shop Suvbscribe ===-->
<!-- JS Customization -->
<!-- <script src="assets/custom.js"></script> -->
<!-- JS Page Level -->
<script src="assets/shop.app.js"></script>
<script src="assets/plugins/owl-carousel.js"></script>
<script src="assets/plugins/master-slider.js"></script>
<script src="assets/forms/product-quantity.js"></script>
<script>
    jQuery(document).ready(function() {
        App.init();
        App.initScrollBar();        
        OwlCarousel.initOwlCarousel();
        MasterSliderShowcase2.initMasterSliderShowcase2();
    });
</script>