<!--=== Breadcrumbs v4 ===-->
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">Store</span>
            <h1>Maecenas <span class="shop-green">enim</span> sapien</h1>
            <ul class="breadcrumb-v4-in">
                <li><a href="index.html">Home</a></li>
                <li><a href="">Products</a></li>
                <li class="active"><%= @type.capitalize %></li>
            </ul>
        </div><!--/end container-->
    </div> 
    <!--=== End Breadcrumbs v4 ===-->

    <!--=== Content Part ===-->
    <div class="content container">
        <div class="row">
            <div class="col-md-1 filter-by-block md-margin-bottom-60">
            </div>

            <div class="col-md-10">
                <div class="row margin-bottom-5">
                    <div class="col-sm-5 result-category">
                        <h2><%= @type %></h2>
                        <%= hidden_field_tag 'type', @type %>
                        <small class="shop-bg-red badge-results"><%= @count %> Results</small>
                    </div>
                    <div class="col-sm-7">
                        <!-- <ul class="list-inline clear-both">
                            <li class="grid-list-icons">
                                <a href="shop-ui-filter-list.html"><i class="fa fa-th-list"></i></a>
                                <a href="shop-ui-filter-grid.html"><i class="fa fa-th"></i></a>
                            </li>
                            <li class="sort-list-btn">
                                <h3>Sort By :</h3>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        Popularity <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Best Sales</a></li>
                                        <li><a href="#">Top Last Week Sales</a></li>
                                        <li><a href="#">New Arrived</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="sort-list-btn">
                                <h3>Show :</h3>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        20 <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">10</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#">3</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul> -->
                    </div>    
                </div><!--/end result category-->

                <div class="filter-results">

                <% will_paginate @products %>
                  <% for i in (0..2) do %>
                    <div class="row illustration-v2 margin-bottom-30">
                        <div class="col-md-4">
                            <div class="product-img product-img-brd">
                                <a href="/show_product?id=<%= @products[i*3+0].id %>"><img class="full-width img-responsive" src="<%= @products[i*3+0].product_photos[i].photo_file_name %>" alt=""></a>
                                <a class="product-review" href="shop-ui-inner.html">Quick review</a>
                                <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                            </div> 
                            <div class="product-description product-description-brd margin-bottom-30">
                                <div class="overflow-h margin-bottom-5">
                                    <div class="pull-left">
                                        <h4 class="title-price"><a href="/show_product?id=<%= @products[i*3+0].id %>"><%= @products[i*3+0].name.capitalize %></a></h4>
                                        <% gender = @products[i*3+0].category == "M" ? "Men" : "Women" %>
                                        <span class="gender text-uppercase"><%= gender %></span>
                                        <span class="gender"><%= @products[i*3+0].sub_category.capitalize %></span>
                                    </div>    
                                    <div class="product-price">
                                        <span class="title-price">$<%= @products[i*3+0].price %>.00</span>
                                        <span class="title-price line-through">$<%= @products[i*3+0].price + 15 %>.00</span>
                                    </div>
                                </div>    
                                <!-- <ul class="list-inline product-ratings">
                                    <li><i class="rating-selected fa fa-star"></i></li>
                                    <li><i class="rating-selected fa fa-star"></i></li>
                                    <li><i class="rating-selected fa fa-star"></i></li>
                                    <li><i class="rating fa fa-star"></i></li>
                                    <li><i class="rating fa fa-star"></i></li>
                                    <li class="like-icon"><a data-original-title="Add to wishlist" data-toggle="tooltip" data-placement="left" class="tooltips" href="#"><i class="fa fa-heart"></i></a></li>
                                </ul> -->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="product-img product-img-brd">
                                <a href="/show_product?id=<%= @products[i*3+1].id %>"><img class="full-width img-responsive" src="<%= @products[i*3+1].product_photos[i].photo_file_name %>" alt=""></a>
                                <a class="product-review" href="shop-ui-inner.html">Quick review</a>
                                <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                            </div> 
                            <div class="product-description product-description-brd margin-bottom-30">
                                <div class="overflow-h margin-bottom-5">
                                    <div class="pull-left">
                                        <h4 class="title-price"><a href="/show_product?id=<%= @products[i*3+1].id %>"><%= @products[i*3+1].name.capitalize %></a></h4>
                                        <% gender = @products[i*3+1].category == "M" ? "Men" : "Women" %>
                                        <span class="gender text-uppercase"><%= gender %></span>
                                        <span class="gender"><%= @products[i*3+1].sub_category.capitalize %></span>
                                    </div>    
                                    <div class="product-price">
                                        <span class="title-price">$<%= @products[i*3+1].price %>.00</span>
                                        <span class="title-price line-through">$<%= @products[i*3+1].price + 15 %>.00</span>
                                    </div>
                                </div>    
                                <!-- <ul class="list-inline product-ratings">
                                    <li><i class="rating-selected fa fa-star"></i></li>
                                    <li><i class="rating-selected fa fa-star"></i></li>
                                    <li><i class="rating-selected fa fa-star"></i></li>
                                    <li><i class="rating fa fa-star"></i></li>
                                    <li><i class="rating fa fa-star"></i></li>
                                    <li class="like-icon"><a data-original-title="Add to wishlist" data-toggle="tooltip" data-placement="left" class="tooltips" href="#"><i class="fa fa-heart"></i></a></li>
                                </ul> -->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="product-img product-img-brd">
                                <a href="/show_product?id=<%= @products[i*3+2].id %>"><img class="full-width img-responsive" src="<%= @products[i*3+2].product_photos[i].photo_file_name %>" alt=""></a>
                                <a class="product-review" href="shop-ui-inner.html">Quick review</a>
                                <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                            </div> 
                            <div class="product-description product-description-brd margin-bottom-30">
                                <div class="overflow-h margin-bottom-5">
                                    <div class="pull-left">
                                        <h4 class="title-price"><a href="/show_product?id=<%= @products[i*3+2].id %>"><%= @products[i*3+2].name.capitalize %></a></h4>
                                        <% gender = @products[i*3+2].category == "M" ? "Men" : "Women" %>
                                        <span class="gender text-uppercase"><%= gender %></span>
                                        <span class="gender"><%= @products[i*3+2].sub_category.capitalize %></span>
                                    </div>    
                                    <div class="product-price">
                                        <span class="title-price">$<%= @products[i*3+2].price %>.00</span>
                                        <span class="title-price line-through">$<%= @products[i*3+2].price + 15 %>.00</span>
                                    </div>
                                </div>    
                                <!-- <ul class="list-inline product-ratings">
                                    <li><i class="rating-selected fa fa-star"></i></li>
                                    <li><i class="rating-selected fa fa-star"></i></li>
                                    <li><i class="rating-selected fa fa-star"></i></li>
                                    <li><i class="rating fa fa-star"></i></li>
                                    <li><i class="rating fa fa-star"></i></li>
                                    <li class="like-icon"><a data-original-title="Add to wishlist" data-toggle="tooltip" data-placement="left" class="tooltips" href="#"><i class="fa fa-heart"></i></a></li>
                                </ul> -->
                            </div>
                        </div>
                      </div>
                    <% end %>
                </div><!--/end filter resilts-->

                <div class="text-center">
                    <ul class="pagination pagination-v2">
                      <% if @products.previous_page %>
                        <li><%= link_to '', params.merge(:page => @products.previous_page), class: 'fa fa-angle-left' %></li>
                      <% end %>
                        <li class="active" ><%= link_to @products.current_page, 'javascript:;'%></li>
                      <% if @products.next_page %>
                        <li><%= link_to '', params.merge(:page => @products.next_page), class: 'fa fa-angle-right' %></li>
                      <% end %>
                    </ul>                                                            
                </div><!--/end pagination-->
            </div>
            <div class="col-md-1 filter-by-block md-margin-bottom-60">
            </div>
        </div><!--/end row-->
    </div><!--/end container-->    
    <!--=== End Content Part ===-->

    <!--=== Shop Suvbscribe ===-->
    <div class="shop-subscribe">
        <div class="container">
            <div class="row">
                <div class="col-md-8 md-margin-bottom-20">
                    <h2>subscribe to our weekly <strong>newsletter</strong></h2>
                </div>  
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Email your email...">
                        <span class="input-group-btn">
                            <button class="btn" type="button"><i class="fa fa-envelope-o"></i></button>
                        </span>
                    </div>    
                </div>
            </div>
        </div><!--/end container-->
    </div>
    <!--=== End Shop Suvbscribe ===